.box_input select,
.box_input input {
    margin: 0 0 7px 0;
    padding: 3px 3px 3px 7px;;
    width: 480px;
    height:50px;
    border-radius: 6px;
    border: solid 1px #666666;;
	font-family: Facebook Letter Faces;
	font-size:25px; 
}

input {
    margin: 2px;
    padding: 3px;
    width: 300px;
    height:30px;
    border-radius: 6px;
    border: solid 1px;    
}

#btn-salvar {
    position: absolute;
    margin: 20px 0px 0 -150px;
    cursor: pointer;
    background-color: green;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;       
}

#btn-fechar {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../images/x.png) no-repeat;
    margin:-80px 170px ;
    border: none;   
}
.box_centro{
	margin: auto;
	width: 500px;
}